<%= form_with(model: cooking, local: true) do |form| %>
  <% if cooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cooking.errors.count, "error") %> prohibited this cooking from being saved:</h2>

      <ul>
        <% cooking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <tbody>
      <tr>
      <div class="field">
        <td><%= form.label :材料 %></td>
        <td><%= form.text_field :cooking_material %></td>
      </div>
      </tr>
      <tr>
      <div class="field">
        <td><%= form.label :調理工程 %></td>
        <td><%= form.text_field :cooking_name %></td>
      </div>
      </tr>
      <tr>
      <div class="field">
        <td><%= form.label :時 %></td>
        <td><%= form.number_field :hour, min: 0, max: 23 %></td>
      </div>
      </tr>
      <tr>
      <div class="field">
        <td><%= form.label :分 %></td>
        <td><%= form.number_field :minute, min: 0, max: 59 %></td>
      </div>
      </tr>
      <tr>
      <div class="field">
        <td><%= form.label :秒 %></td>
        <td><%= form.number_field :second, min: 0, max: 59 %></td>
      </div>
      </tr>
    </tboby>
  </table>

  <div class = "button">
  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
