<p id="notice"><%= notice %></p>

<p>
  <strong>Cooking material:</strong>
  <%= @cooking.cooking_material %>
</p>

<p>
  <strong>Cooking name:</strong>
  <%= @cooking.cooking_name %>
</p>

<p>
  <strong>Cooking time:</strong>
  <%= @cooking.cooking_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @cooking.user_id %>
</p>

<%= link_to 'Edit', edit_cooking_path(@cooking) %> |
<%= link_to 'Back', cookings_path %>
